[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = git@github.com:dense-analysis/ale.git
[submodule "pack/plugins/start/ctrlp.vim"]
	path = pack/plugins/start/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule "pack/plugins/start/bullets.vim"]
	path = pack/plugins/start/bullets.vim
	url = git@github.com:dkarter/bullets.vim.git
[submodule "pack/plugins/start/emmet-vim"]
	path = pack/plugins/start/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "pack/plugins/start/goyo.vim"]
	path = pack/plugins/start/goyo.vim
	url = git@github.com:junegunn/goyo.vim.git
[submodule "pack/plugins/start/indentLine"]
	path = pack/plugins/start/indentLine
	url = git@github.com:Yggdroot/indentLine.git
[submodule "pack/plugins/start/jedi-vim"]
	path = pack/plugins/start/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "pack/plugins/start/nerdcommenter"]
	path = pack/plugins/start/nerdcommenter
	url = git@github.com:preservim/nerdcommenter.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = git@github.com:preservim/nerdtree.git
[submodule "pack/plugins/start/tabular"]
	path = pack/plugins/start/tabular
	url = git@github.com:godlygeek/tabular.git
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "pack/plugins/start/vim-doge"]
	path = pack/plugins/start/vim-doge
	url = git@github.com:kkoomen/vim-doge.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "pack/plugins/start/vim-signify"]
	path = pack/plugins/start/vim-signify
	url = git@github.com:mhinz/vim-signify.git
[submodule "pack/plugins/start/vim-smoothie"]
	path = pack/plugins/start/vim-smoothie
	url = git@github.com:psliwka/vim-smoothie.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/plugins/start/vim-wordmotion"]
	path = pack/plugins/start/vim-wordmotion
	url = git@github.com:chaoren/vim-wordmotion.git
[submodule "pack/plugins/start/vimtex"]
	path = pack/plugins/start/vimtex
	url = git@github.com:lervag/vimtex.git
