[submodule "pack/plugins/start/ale"]
	path = pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule "pack/plugins/start/ctrlp.vim"]
	path = pack/plugins/start/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "pack/plugins/start/bullets.vim"]
	path = pack/plugins/start/bullets.vim
	url = https://github.com/dkarter/bullets.vim.git
[submodule "pack/plugins/start/emmet-vim"]
	path = pack/plugins/start/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "pack/plugins/start/goyo.vim"]
	path = pack/plugins/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim.git
[submodule "pack/plugins/start/indentLine"]
	path = pack/plugins/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "pack/plugins/start/jedi-vim"]
	path = pack/plugins/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "pack/plugins/start/nerdcommenter"]
	path = pack/plugins/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter.git
[submodule "pack/plugins/start/nerdtree"]
	path = pack/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "pack/plugins/start/tabular"]
	path = pack/plugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "pack/plugins/start/vim-airline"]
	path = pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/plugins/start/vim-doge"]
	path = pack/plugins/start/vim-doge
	url = https://github.com/kkoomen/vim-doge.git
[submodule "pack/plugins/start/vim-fugitive"]
	path = pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "pack/plugins/start/vim-signify"]
	path = pack/plugins/start/vim-signify
	url = https://github.com/mhinz/vim-signify.git
[submodule "pack/plugins/start/vim-smoothie"]
	path = pack/plugins/start/vim-smoothie
	url = https://github.com/psliwka/vim-smoothie.git
[submodule "pack/plugins/start/vim-surround"]
	path = pack/plugins/start/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "pack/plugins/start/vim-wordmotion"]
	path = pack/plugins/start/vim-wordmotion
	url = https://github.com/chaoren/vim-wordmotion.git
[submodule "pack/plugins/start/vimtex"]
	path = pack/plugins/start/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule "pack/plugins/start/onehalf"]
	path = pack/plugins/start/onehalf
	url = https://github.com/sonph/onehalf.git
[submodule "pack/plugins/opt/onedark.vim"]
	path = pack/plugins/opt/onedark.vim
	url = https://github.com/joshdick/onedark.vim.git
[submodule "pack/plugins/start/vim-bufkill"]
	path = pack/plugins/start/vim-bufkill
	url = https://github.com/qpkorr/vim-bufkill.git
